networks:
  scoobydoo:
    external: true

services:
  tg-signer-yl:
    ports:
      - "127.0.0.1:8119:8119"
    build:
      context: .
      dockerfile: ./docker/Build.Dockerfile
      args:
        TZ: ${TZ:-Asia/Shanghai}
        INSTALL_GUI: "true"
    container_name: tg-signer-yl
    # command: ["webgui", "--host", "0.0.0.0", "--port", "8119"]
    command: ["run", "nebula"]
    volumes:
      - ./data:/app
    environment:
    #   - TG_PROXY=socks5://172.17.0.1:7890
      - TZ=${TZ:-Asia/Shanghai}
      - OPENAI_API_KEY=ssXPNq9uiyStz9iHaJG2WwfxWLLJPif8
      - OPENAI_BASE_URL=https://gcli.leyang.cc/v1
      - OPENAI_MODEL=gemini-2.5-flash-lite
      - BARK_URL=https://bark.leyang.cc/EzMeH4QKTudC5HqUZi4nrA
      - BARK_SOUND=alarm
      - BARK_GROUP=TG签到
    networks:
      - scoobydoo
    restart: unless-stopped
